
<nav class="navbar-cat" id="nav">

        <ul class="navbar-nav-cat" id ="category">
            <li id="allProducts" value="All Products" class="nav-item-cat active highlight more"><a href="#" class="navbar-item-cat" >All Products</a></li>
            <li class="nav-item-cat highlight more" value="New Arrivals"><a href="#" class="navbar-item-cat">New Arrivals</a></li>
            <li id="ddd" class="nav-item-cat drop highlight more " value="Clothes" ><a href="#"class="navbar-item-cat angle-down-cat">Clothes</a>
                <ul class="dropdown-menu-cat inline indent-s">
                    <li class="cross nav-item-cat"><i class="fas fa-times "></i></li>
                    <li class="nav-item-cat" value="Blouses"><a class="dropdown-item-cat highlight" href="#" >Blouses</a></li>
                    <li class="nav-item-cat" value="Shorts"><a class="dropdown-item-cat highlight" href="#" >Shorts</a></li>
                    <li class="nav-item-cat" value="Skirts"><a class="dropdown-item-cat highlight" href="#" >Skirts</a></li>
                    <li class="nav-item-cat" value="Dresses"><a class="dropdown-item-cat highlight" href="#" >Dresses</a></li>
                    <li class="nav-item-cat" value="Swimming Suits"><a class="dropdown-item-cat highlight" href="#" >Swimming Suits</a></li>
                </ul>
            </li>
            <li id ="aaa" class="nav-item-cat drop highlight more" value="Accessories"><a href="#" class="navbar-item-cat angle-down-cat">Accessories</a>
                <ul class="dropdown-menu-cat inline indent-s">
                    <li class="cross"><i class="fas fa-times "></i></li>
                    <li id="fff" value="Jewelry"><a class="dropdown-item-cat angle-right-cat angle-down-cat highlight more" href="#" value="Jewelry">Jewelry</a>
                        <ul class="dropdown-submenu-cat inline indent-s">
                            <li value="Rings"><a class="dropdown-item-cat highlight more" href="#" >Rings</a></li>
                            <li value="Necklace"><a class="dropdown-item-cat highlight more" href="#" >Necklaces</a></li>
                            <li value="Earings"><a class="dropdown-item-cat highlight more" href="#" >Earings</a></li>
                            <li value="Bracelets"><a class="dropdown-item-cat highlight more" href="#" >Bracelets</a></li>
                            <li value="Collection Classic"><a class="dropdown-item-cat highlight more" href="#" >Collection Classics</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id ="bbb" class="nav-item-cat more " value="SPA"><a href="#" class="navbar-item angle-down-cat">SPA</a>
                <ul class="dropdown-menu-cat drop inline indent-s">
                    <li class="cross"><i class="fas fa-times "></i></li>
                    <li value="Soaps"><a class="dropdown-item-cat" href="#" >Soaps</a></li>
                    <li value="Body Care"><a class="dropdown-item-cat" href="#" >Body Care</a></li>
                    <li value="Gifts"><a class="dropdown-item-cat" href="#" >Gifts</a></li>
                    <div class="dropdown-divider"></div>
                </ul>
            </li>
            <li id ="ccc" class="nav-item-cat  drop more " value="Home and Garden"><a href="#" class="navbar-item angle-down-cat">Home and Garden</a>
                <ul id="rem" class="dropdown-menu-cat inline indent-s">
                    <li class="cross"><i class="fas fa-times "></i></li>
                    <li id="eee" value="Accessories"><a class="dropdown-item-cat drop angle-right-cat angle-down-cat" href="#">Accessories</a>
                        <ul class="dropdown-submenu-cat inline indent-m">
                            <li value="Bedding"><a class="dropdown-item-cat" href="#">Bedding</a></li>
                            <li value="Posters"><a class="dropdown-item-cat" href="#">Posters</a></li>
                            <li value="Candles"><a class="dropdown-item-cat" href="#">Candles</a></li>
                        </ul>
                    </li>
                    <li value="Books"><a class="dropdown-item-cat" href="#">Books</a></li>
                    <div class="dropdown-divider"></div>
                </ul>
            </li>
        </ul>

    </nav>
    
    <nav class="navbar" id="navbar">
        <ul class="navbar-nav">
        </ul>
    </nav>
    
    <div id="size-filter"></div>
    
    
    