<header>
    <div class="header-details">
        <h1 class="header-logo"><a href="/products">LOGO</a></h1>
        <div class="header-mobile-icons">
            <div class="header-icon-search">
                <i class="fas fa-search icon"></i>
            </div>
            <div class="header-hamburger-menu" id="openBtn">
                <i class="fas fa-bars icon"></i>
            </div>
        </div>
        <div class="header-search-hide">
            <p class="header-search" ><%- include('../partials/search.ejs')%></p>
        </div> 
        <a href="/cart">
            <div class="header-shopping-cart">
                <i class="fas fa-shopping-cart icon"></i>     
                <div class="header-total" id="nav-total-2">0.00</div>
            </div>
        </a>
    </div>

</header>


    <div id="mySidepanel" class="sidepanel">
        <a  id="closeBtn" >x</a>

        <nav id="main-nav2">
            <div >
                <ul >
                    <div class="main-cat"><a href="#" class=" uppercase">All Products</a></div>
                    <div class="main-cat"><a href="#" class=" uppercase">New Arrivals</a></div>
                    <div class="main-cat uppercase"><a class=" angle-down" href="#" >Clothes</a>
                    </div>
                    
           
                    <div class="main-cat uppercase"><a class="angle-down" href="#" >Accessories</a>
                    </div>
                    <div><a class="main-cat angle-down" href="#" >SPA</a>
                    </div>
                    <div><a class="main-cat angle-down" href="#" >HOME AND GARDEN</a>
                    </div>
                </ul>
            </div>
        </nav>
        

    </div>




  