<nav class="nav-main" id="main-nav">
    <div class="navbar-main">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="navbar-item uppercase">All Products</a></li>
            <li class="nav-item"><a href="#" class="navbar-item uppercase">New Arrivals</a></li>
            <li class="nav-item angle-down"><a href="#"class="navbar-item uppercase">Clothes</a>
                <ul class="dropdown-menu uppercase">
                    <li><a class="dropdown-item " href="#" >Blouses</a></li>
                    <li><a class="dropdown-item" href="#">Shorts</a></li>
                    <li><a class="dropdown-item" href="#">Skirts</a></li>
                    <li><a class="dropdown-item" href="#">Dresses</a></li>
                    <li><a class="dropdown-item" href="#">Swimming Costumes</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">+SHOW ALL</a></li>
                </ul>
            </li>
            <li class="nav-item drop angle-down uppercase"><a href="#" class="navbar-item">Accessories</a>
                <ul class="dropdown-menu uppercase">
                    <li><a class="dropdown-item angle-right" href="#">Jewelry</a>
                        <ul class="dropdown-submenu uppercase">
                            <li><a class="dropdown-item" href="#">Rings</a></li>
                            <li><a class="dropdown-item" href="#">Necklace</a></li>
                            <li><a class="dropdown-item" href="#">Earings</a></li>
                            <li><a class="dropdown-item" href="#">Bracelets</a></li>
                            <li><a class="dropdown-item" href="#">Collection Classic</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item angle-down"><a href="#" class="navbar-item">SPA</a>
                <ul class="dropdown-menu uppercase">
                    <li><a class="dropdown-item" href="#">Soaps</a></li>
                    <li><a class="dropdown-item" href="#">Body Care</a></li>
                    <li><a class="dropdown-item" href="#">Gifts</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">+Show All</a></li>
                </ul>
            </li>
            <li class="nav-item angle-down"><a href="#" class="navbar-item">HOME AND GARDEN</a>
                <ul class="dropdown-menu uppercase">
                    <li><a class="dropdown-item angle-right" href="#">Accessories</a>
                        <ul class="dropdown-submenu">
                            <li><a class="dropdown-item" href="#">Bedding</a></li>
                            <li><a class="dropdown-item" href="#">Posters</a></li>
                            <li><a class="dropdown-item" href="#">Candles</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Books</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">+Show All</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

