<div class="search-section">
        <div class="search-input">
            <input type="text" name="search-product" id="search-product"  placeholder="Search Product">
            <i class="fas fa-search icon"></i>
        </div>
        <div class="search-section-inner">
            <div id="search-list-list"></div>
        </div>
</div>




