<div class="search-section2">
    <div class="search-input">
        <input type="text" name="search-product" id="search-product2"  placeholder="Search Product">
        <i class="fas fa-search icon"></i>
    </div>
    <div class="search-section-inner"></div>
        <div id="search-list"></div>
    </div>
</div>




