<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main/main.css" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility --PAYPAL-->

    <script src="https://js.stripe.com/v3/" ></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
         var stripePublicKey = '<%= stripePublicKey %>'
    </script>
  
</head>
<body>
  
 
    <main>
        <%- body %>
    </main>    
  

    <%- include('../partials/footer.ejs')%>

    <script src="/js/sidebar-menu.js" defer></script>
    


</body>
</html>