<%- include('./partials/header.ejs')%>
<%- include('./partials/nav.ejs')%>
    
    <section class="container ">
        <div class="products-filters">
            <div id="category-filter"></div>
            <%- include('partials/cat.ejs')%>
        </div>
        <div class="content-section content-section-mains">
            <div class="section-header-wrapper">
                <h2 class="section-header category-title" id="category-title" ></h2>
            </div>      
            <div class="shop-items shop-items-main" id="products" >
  
            
            </div>
        </div>
    </section>
  
          <script src="js/nav-total.js" defer></script>
          <script src="js/functions.js" defer></script>
          <script src="js/products.js" defer></script>
          <script src="js/filters-cat.js" defer></script>
          <script src="js/filters-size.js" defer></script>
          <script src="js/search-main.js" defer></script>
          <script src="js/nav-other.js" defer></script>
   

