/*@import 'shared/global.css';*/
@import 'shared/normalize.scss';
@import 'shared/variables';
@import 'shared/header';
@import 'shared/products';
@import 'shared/nav';
@import 'shared/cat';
@import 'shared/footer';
@import 'shared/contact';
@import 'shared/filters';
@import 'shared/product';
@import 'shared/cart';
@import 'shared/cart-summary';
@import 'shared/search';
@import 'shared/related-products';
@import 'shared/delivery-form';
@import 'shared/payment';
@import 'shared/search-list';

/* General Styles */


@function color($color-name) {
    @return map-get($colors, $color-name)
}
   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 1.6rem;
    max-width: 1200px;
    margin: 0 auto;
    color: color(main);
}

button, .button {
    cursor: pointer;
    background-color: color(primary-light);
    border: none;
    color: white;
    padding: 1.2rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: size(s-size);
    margin: .4rem 0;
    width: 100%;
    max-width: 100%;
}
  
.button:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.button:hover {
    background-color: color(primary-very-light);
}

button:hover {
    background-color: color(primary-very-light);
}

a:link {
    color: var(--color-font);
    text-decoration: none;
}

a:visited {
    color: var(--color-font);

}

a:hover {
    color: color(primary-light);
}

a:active {
    color: var(--color-font);
}

input:focus {
    outline: none;
}

input[type=text] {
    border: .1px solid var(--color-outline);
   
}

.span-s {
    margin: 1.5rem;
}

.span-m {
    margin: 2rem;
}

.span-l {
    margin: 2.5rem;
}

.span-xl {
    margin: 3.2rem;
}

.span-xxl {
    margin: 5rem;
}

.category-title, .section-header {
    font-size: size(l-size);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.show {
    display: block;
}